
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div id="everythingCont">
        <p style="text-align: center; font-weight:bold; font-size:24px;"> Welcome To The Parkview Fine Arts Festival Sales Tool</p>
    </div>
</body>